<%= simple_form_for(@financial_entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :alobs, :label => "ALOBS" %>
    <%= f.input :description %>
    <%= f.input :party_involved, :label => "Party" %>
    <%= f.input :transaction_date, :as => :date_picker, :placeholder => "DD/MM/YYYY", :label => "Transaction Date" %>
    <%= f.input :obligation_incurred, :label => "Obligation Incurred" %>
    <%= f.input :fund_source, :label => "Fund Source" %>
    <%= f.association :financial_year, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
