<p id="notice"><%= notice %></p>

<%= link_to @financial_entry.financial_year do %>
  <h1><%= @financial_entry.financial_year.category.description %> <%= @financial_entry.financial_year.year %></h1>
<% end %>

<div class="jumbotron">
  <p>
    <strong>ALOBS:</strong>
    <%= @financial_entry.alobs %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @financial_entry.description %>
  </p>

  <p>
    <strong>Party Involved:</strong>
    <%= @financial_entry.party_involved %>
  </p>

  <p>
    <strong>Transaction Date:</strong>
    <%= @financial_entry.transaction_date.strftime("%d %B %Y") if @financial_entry.transaction_date %>
  </p>

  <p>
    <strong>Obligation Incurred:</strong>
    <%= number_with_precision(@financial_entry.obligation_incurred, precision: 2, separator: '.', delimiter: ',') %>
  </p>

  <p>
    <strong>Fund Source:</strong>
    <%= @financial_entry.fund_source %>
  </p>
</div>

<%= link_to 'Edit', edit_financial_entry_path(@financial_entry) %> |
<%= link_to 'Back', "javascript:history.back()" %>
