<p id="notice"><%= notice %></p>

<p>
  <strong>Alobs:</strong>
  <%= @financial_entry.alobs %>
</p>

<p>
  <strong>Description:</strong>
  <%= @financial_entry.description %>
</p>

<p>
  <strong>Party involved:</strong>
  <%= @financial_entry.party_involved %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @financial_entry.transaction_date %>
</p>

<p>
  <strong>Obligation incurred:</strong>
  <%= @financial_entry.obligation_incurred %>
</p>

<p>
  <strong>Fund source:</strong>
  <%= @financial_entry.fund_source %>
</p>

<p>
  <strong>Financial year:</strong>
  <%= @financial_entry.financial_year %>
</p>

<%= link_to 'Edit', edit_financial_entry_path(@financial_entry) %> |
<%= link_to 'Back', financial_entries_path %>
