<p id="notice"><%= notice %></p>

<h1>Listing Financial Years</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Budget</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_years.each do |financial_year| %>
      <tr>
        <td><%= financial_year.year %></td>
        <td><%= financial_year.budget %></td>
        <td><%= financial_year.category %></td>
        <td><%= link_to 'Show', financial_year %></td>
        <td><%= link_to 'Edit', edit_financial_year_path(financial_year) %></td>
        <td><%= link_to 'Destroy', financial_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial year', new_financial_year_path %>
