<p id="notice"><%= notice %></p>

<h1><b><%= @financial_year.category.description %> <%= @financial_year.year %></b></h1>

<p>
  <strong>Budget:</strong>
  <%= number_with_precision(@financial_year.budget, precision: 2, separator: '.', delimiter: ',') %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_with_precision(@financial_year.yearly_balance, precision: 2, separator: '.', delimiter: ',') %>
</p>

<p>
  <strong>Yearly Spending:</strong>
  <%= number_with_precision(@financial_year.yearly_spendings, precision: 2, separator: '.', delimiter: ',') %>
</p>


<div id="entries_calendar" style="background-color:#cccccc;">
  <%= render "calendar", events: @financial_entries_cal %>
</div>

<div class="row">
  <div class="col-xs-6">
    <b>Monthly Spending:</b>
    <div id="monthly_spendings" style="background-color:#cccccc;">
      <%= render "monthly_spending" %>
    </div>
  </div>
  <div class="col-xs-6">
    <b>Weekly Spending:</b>
    <div id="weekly_spendings" style="background-color:#cccccc;">
      <%= render "weekly_spending" %>
    </div>
  </div>
</div>

<div id="entry_table">
  <%= render "entry_table" %>
</div>

<br>

<%= link_to 'New Financial entry', new_financial_entry_path(:financial_entry => {:financial_year_id => @financial_year.id}) %>

<%= link_to 'Edit', edit_financial_year_path(@financial_year) %> |
<%= link_to 'Back', financial_years_path %>
